@media (max-width: 760px){
    header{
        flex-direction: column;
    } 
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }  
    input{
        align-self: center;
    }
    img{
        display: none;
    }
    ul{
        text-align: center;
    }
    div{
        text-align:center
    }
        }
    